.activityli {
	height: 80px;
	display: flex;
	align-items: center;
}

.activityli>button {
	flex: 1 1 60px;
	display: block;
	height: 100%;
}

.activityli>div {
	flex: 3 3 300px;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	position: relative;
	overflow: hidden;
}

.activityli .title {
	font-size: 20px;
}

.activityli>div .info {
	display: flex;
	position: absolute;
	bottom: 0;
	font-size: 12px;
}

.activityli>div .info div {
	margin-right: 10px;
}

.activityli>div .info * {
	font-size: 12px;
}
.setting4ul {
    margin: 0;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.setting4ul li {
    padding: 4px;
    width: 100px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    display: inline;
    cursor: pointer;
    color: rgba(30, 30, 30, 0.7);
    background-color: rgba(0, 44, 95, 0.1);
}

.setting4ul li:hover {
    color: white;
    font-size: 18px;
    background-color: rgba(0, 44, 95, 0.200);
}

.setting4list {
    border-bottom: 1.5px solid rgba(0, 44, 95, 0.3);
    display: flex;
    align-items: flex-end;
}

.setting4ul .choose {
    color: white;
    background-color: rgba(0, 44, 95, 0.3);
    font-size: 18px;
}

.memberPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    flex: 0 0 55px;
}

.memberPhoto div {
    width: 50px;
    height: 50px;
    background-color: gray;
    border-radius: 50px;
}

.memberPhoto div>img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.attend {
    display: flex;
    align-items: center;
}

#attendlist * {
    padding: 0;
    margin: 0;
}

#attendlist .panel-body *{
	font-size: 16px;
	text-align: left;
}
#attendlist .panel-body h3{
	font-size: 20px;
}
#attendlist .panel-body>div{
	border-bottom: 1.5px solid rgba(0, 44, 95, 0.3);
	padding:10px;
}

#attendlist .panel-body>div div{
	padding:10px 20px;
}

#attendlist .panel-body{
	padding:10px;
}

#blocklist>div:nth-child(2){
    overflow-y: scroll;
    max-height:500px;
}

#blocklist > div:nth-child(2){
	max-height:500px;	
	overflow-y: scroll;
}

#blocklist div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#blocklist div::-webkit-scrollbar-track {
    background: rgba(200, 226, 255, 0); 
}
 
/* Handle */
#blocklist div::-webkit-scrollbar-thumb {
    background: rgba(70, 114, 165, 0.8);
}

/* Handle on hover */
#blocklist div::-webkit-scrollbar-thumb:hover {
    background: #008CBA;
}


#searchBox .modal-header .close{
	margin-top: -10px;
	margin-right: -5px;
	font-size: 20px;
}
#searchBox .modal-body{
	max-height:500px;
	overflow-y: scroll;
}

#searchBox .modal-body>div >div{
	display:flex;
	align-items: center;
}

#searchBox .modal-body>div >div>a{
	display:flex;
	align-items: center;
}