.friendsearch {
	margin: 10px;
}

.friendsearch form{
	display:flex;
}



#blocklist {
	min-height:570px;
}
#blocklist > div:nth-child(2){
	max-height:500px;	
	overflow-y: scroll;
}

#blocklist div::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#blocklist div::-webkit-scrollbar-track {
    background: rgba(200, 226, 255, 0); 
}
 
/* Handle */
#blocklist div::-webkit-scrollbar-thumb {
    background: rgba(70, 114, 165, 0.8);
}

/* Handle on hover */
#blocklist div::-webkit-scrollbar-thumb:hover {
    background: #008CBA;
}

.friendList{
	display: flex;
	flex-wrap:wrap;
	justify-content:space-around;
	align-items:flex-start;
	align-content:flex-start;
}

.friendList::after {
  content: "";
  width: 300px;
  margin: 10px;
}


.friendList button {
  padding: 3px 8px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #008CBA;
  border: none;
  transition:opacity 0s;
}

.friendList button:hover {
	background-color: rgba(0, 44, 95, 0.3);
	}

.friendList button:active{
	opacity:0.5
	}


.friendList>div{
	margin: 10px;
	background-color: rgba(200, 226, 255, 0.459);
	min-width: 300px;
	max-width: 300px;
	height: 70px;
	box-shadow: 4px 4px 12px -2px rgba(20%, 20%, 40%, 0.6);
}



.friendList a>div {
	display: flex;
	justify-content: left; /* align horizontal */
	align-items: center; /* align vertical */
	height: 100%;
	width: 100%;
}

.friendList>div {
	display: flex;
	justify-content:space-between;
}

.friendList>div>a {
	display: flex;
	text-align: left;
	vertical-align: middle;
	flex:1 2 200px;
	margin: 0px;
}

.friendButton,
.trackButton
,.blacklistButton {
	display:flex;
	flex-direction:column;
	justify-content:center;
	    
	
}

.friendList button {
	margin: 5px;
	min-height: 30px;
	min-width:60px;
}

.friendList img {
	width: 60px;
	height: 60px;
	border-radius: 60px;
}

.friendList .photoDiv{
	width: 60px;
	height: 60px;
	border-radius: 60px;
	margin: 0 10px 0 10px;
	background-color: rgb(255, 255, 255);
}

.friendsearch button{
	padding: 7px 8px;
	min-width: 60px;
}