 #up{
    overflow: auto;
    width:100%;
    /* border: 1px solid gray; */   
}
#left{
    width:50%;
    float: left;
    
}
#right{
    
    float: right;
}         
#txtup{
    text-align: left;    
}
       