 	#form_po{
 		display: none;
 	}
	#search_for_act , #search_for_po{
/* 		background-color: yellow; */
		width: 100px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		cursor: pointer;
		letter-spacing: 5px;
	}
	#search_for_act{
		color: #FFB445;
	}
	#search_for_po{
		color: white;
	}
	#search_for_act:hover , #search_for_po:hover{ 
		background-color: rgba(255, 255, 255, 0.46);
	}
	.hidden-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
	}
	input[type=checkbox]+span {
    display: inline-block;
    height: 2em;
    width: 2em;
    border-radius: 4px;
    background-color: gray;        
	}

	input[type=checkbox]:checked+span {
	    background-color: #FFB445;
	}
	.labelflex{
		display: flex;
		width:5em;
	}
	.labelflex p{
		position:relative;
		top:12px;
		left:2px;
	}
 	#labelflexCon{
 		margin-top: -14px;
 		margin-left: -40px; 
		display: flex;
 	}